sdk=/path/to/android/sdk
platformVersion=30
input=game.apk
output=game-instrumented.apk
keystore=debug.jks
keypass=123456

MethodLogger.enabled = true
MethodLogger.tag = MethodEntered
MethodLogger.com.example.funnygame.* = Entered method {method:%s} ({args:%s})
MethodLogger.com.example.util.Downloader\:download() = Download {this:%x} started

AssignmentRemover.enabled = true
AssignmentRemover.filter = com.example.funnygame.SomeClass:<clinit>()
AssignmentRemover.type = com.example.funnygame.SomeInterface
